* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }

@font-face {
  font-family: "Nexa";
  src: url("../fonts/NexaLight.otf") format("opentype");
  font-weight: 300; }
@font-face {
  font-family: "Nexa";
  src: url("../fonts/NexaRegular.otf") format("opentype");
  font-weight: 400; }
@font-face {
  font-family: "Nexa";
  src: url("../fonts/NexaBold.otf") format("opentype");
  font-weight: 700; }
body {
  font-family: "Nexa", sans-serif;
  font-size: 2rem;
  font-weight: 400; }

.button {
  display: inline-block;
  color: #6426dd;
  border-radius: 50px;
  background-color: white;
  padding: 23px 42px;
  font-weight: bold;
  font-size: 16.78px; }
  .button.header-more {
    background-color: #00dadc;
    color: #171718;
    padding: 26px 70px;
    display: inline-block; }
  .button.more {
    background-color: #ffc727;
    color: #171718; }
  .button:hover {
    cursor: pointer; }

.container {
  max-width: 1450px;
  margin: 0 auto; }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }
  .wrapper .header {
    background-image: url("../../images/img3.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 101rem;
    padding: 0 12.5%; }
    .wrapper .header-image {
      position: absolute; }
      .wrapper .header-image.top {
        left: 1%;
        top: 15%;
        width: 5%; }
      .wrapper .header-image.bottom {
        left: 0;
        width: 12%;
        bottom: -15%; }
    .wrapper .header-top {
      display: flex;
      align-items: center;
      padding-top: 4%; }
      .wrapper .header-top-menu {
        padding-left: 6%;
        display: flex;
        list-style: none; }
        .wrapper .header-top-menu .header-menu-item:not(:first-child) {
          margin-left: 35px; }
        .wrapper .header-top-menu .header-menu-link {
          color: white;
          font-size: 1.9rem; }
      .wrapper .header-top-contact {
        margin-left: auto; }
    .wrapper .header-body {
      display: flex;
      align-items: center; }
      .wrapper .header-body-left {
        width: 40%;
        padding-right: 5%; }
        .wrapper .header-body-left .header-heading {
          font-size: 55px;
          color: white; }
          .wrapper .header-body-left .header-heading span {
            display: block; }
        .wrapper .header-body-left .header-desc {
          width: 90%;
          color: white;
          padding-top: 25px;
          padding-bottom: 50px;
          word-spacing: 7px;
          font-weight: 400; }
      .wrapper .header-body-image {
        width: 55%; }
  .wrapper .about {
    display: flex;
    padding: 120px 12.5%;
    align-items: center;
    position: relative; }
    .wrapper .about-image {
      width: 43%;
      margin-right: 11%; }
    .wrapper .about-content {
      width: 37.5%;
      margin-right: 9%; }
      .wrapper .about-content-image {
        position: absolute;
        right: 0;
        top: 0; }
      .wrapper .about-content-title {
        color: #6422db;
        font-size: 20px;
        margin-bottom: 40px; }
      .wrapper .about-content-heading {
        color: #25234d;
        font-size: 55px; }
        .wrapper .about-content-heading span {
          display: block; }
      .wrapper .about-content-desc {
        color: #25234d;
        margin: 50px 0;
        line-height: 1.5; }
  .wrapper .services {
    background-image: url("../../images/img11.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 101rem;
    padding: 0 12.5%;
    display: flex;
    align-items: center;
    position: relative; }
    .wrapper .services-image {
      position: absolute;
      bottom: -14%;
      left: 0px;
      z-index: 1; }
    .wrapper .services-left {
      width: 38%;
      margin-right: 15%; }
      .wrapper .services-left-title {
        color: #6422db;
        font-size: 20px;
        margin-bottom: 40px; }
      .wrapper .services-left-heading {
        color: #25234d;
        font-size: 65px;
        margin-bottom: 50px; }
        .wrapper .services-left-heading span {
          display: block; }
      .wrapper .services-left-desc {
        color: #25234d;
        margin-right: 15%;
        margin-bottom: 45px; }
    .wrapper .services-right {
      width: 45.5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; }
      .wrapper .services-right-item {
        width: 45%;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(222, 222, 222, 0.4);
        padding: 55px 30px; }
        .wrapper .services-right-item:nth-child(-n + 2) {
          margin-bottom: 40px; }
        .wrapper .services-right-item .services-right-title {
          color: #0e2c47;
          margin: 35px 0; }
        .wrapper .services-right-item .services-right-content {
          color: #25234d;
          line-height: 1.2; }
        .wrapper .services-right-item .services-right-image {
          width: 30%; }
  .wrapper .testi {
    background-image: url("../../images/img15.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 111rem;
    padding: 170px 12.5% 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .wrapper .testi-image {
      position: absolute; }
    .wrapper .testi-title {
      color: white;
      font-size: 30px;
      letter-spacing: 9px; }
    .wrapper .testi-heading {
      color: white;
      font-size: 70px;
      margin-bottom: 100px; }
    .wrapper .testi-content {
      width: 40%;
      position: relative; }
      .wrapper .testi-content .mark1 {
        position: absolute;
        width: 90%;
        background-color: #895fe9;
        height: 100%;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
        border-radius: 20px;
        z-index: 1; }
      .wrapper .testi-content .mark2 {
        position: absolute;
        background-color: rgba(137, 95, 233, 0.2);
        width: 80%;
        height: 100%;
        left: 50%;
        top: 9%;
        transform: translateX(-50%);
        border-radius: 20px;
        z-index: 1; }
      .wrapper .testi-content .image-left {
        position: absolute;
        left: -45px;
        bottom: 0; }
      .wrapper .testi-content .image-right {
        right: -45px;
        top: 0;
        position: absolute; }
      .wrapper .testi-content .testi-detail {
        background-color: white;
        text-align: center;
        padding: 80px 90px 45px;
        border-radius: 20px;
        z-index: 999;
        position: relative; }
        .wrapper .testi-content .testi-detail .testi-content-detail {
          margin-bottom: 50px; }
        .wrapper .testi-content .testi-detail .testi-content-heading {
          color: #6427de; }
        .wrapper .testi-content .testi-detail .testi-content-star {
          margin-top: 15px;
          margin-bottom: 40px; }
          .wrapper .testi-content .testi-detail .testi-content-star i {
            color: #ffcc00; }
        .wrapper .testi-content .testi-detail .testi-content-button i {
          padding: 12px;
          border: 2px solid #6a697f;
          border-radius: 50%;
          margin: 0 10px; }
          .wrapper .testi-content .testi-detail .testi-content-button i:hover {
            color: white;
            background-color: #00dadc;
            border-color: #00dadc;
            cursor: pointer; }
  .wrapper .form {
    display: flex;
    justify-content: space-between;
    max-width: 1450px;
    margin: 0 auto;
    padding: 95px 0px;
    position: relative; }
    .wrapper .form-left {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .wrapper .form-left img {
        position: absolute;
        left: -235px;
        top: 0; }
      .wrapper .form-left .form-title {
        font-size: 30px;
        color: #6422db;
        letter-spacing: 8px;
        font-weight: 400; }
      .wrapper .form-left .form-heading {
        margin-top: 40px;
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 70px;
        color: #25234d; }
      .wrapper .form-left .form-content {
        color: #4d4c6f;
        font-size: 20px;
        font-weight: 400; }
    .wrapper .form-right {
      width: 42%;
      background-image: url("../../images/img19.png");
      background-position: left top;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 75rem;
      display: flex;
      flex-direction: column;
      padding: 60px 5%; }
      .wrapper .form-right img {
        position: absolute;
        right: -35px;
        top: -70px;
        z-index: 1; }
      .wrapper .form-right-input {
        position: relative;
        margin: 10px 0px; }
        .wrapper .form-right-input:nth-child(3) input {
          height: 200px; }
        .wrapper .form-right-input input, .wrapper .form-right-input area {
          width: 100%;
          border: 1px solid #d2d2d8;
          border-radius: 5px;
          padding: 15px 20px;
          font-size: 20px;
          font-weight: 400;
          color: #6422db; }
        .wrapper .form-right-input span {
          position: absolute;
          font-size: 15px;
          top: -10px;
          left: 15px;
          color: #6e6e6e;
          background-color: white;
          padding: 5px; }
      .wrapper .form-right button {
        margin-top: 4.5rem;
        width: 50%;
        cursor: pointer;
        border: none; }
        .wrapper .form-right button:focus {
          outline: none; }
  .wrapper .footer {
    background-image: url("../../images/img17.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 39rem;
    padding: 17rem 12.5% 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .wrapper .footer-top {
      display: flex;
      align-items: center;
      width: 100%; }
      .wrapper .footer-top .footer-menu {
        padding-left: 6%;
        display: flex;
        list-style: none; }
        .wrapper .footer-top .footer-menu .footer-menu-item:not(:first-child) {
          margin-left: 35px; }
        .wrapper .footer-top .footer-menu .footer-menu-link {
          color: white;
          font-size: 1.9rem; }
      .wrapper .footer-top .footer-social {
        display: flex;
        margin-left: auto; }
        .wrapper .footer-top .footer-social i {
          margin: 0 5px;
          width: 42px;
          height: 42px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          background-color: #6e7efd;
          padding: 10px;
          border-radius: 50%; }
          .wrapper .footer-top .footer-social i:hover {
            background-color: #00dadc;
            cursor: pointer; }
    .wrapper .footer-bottom {
      margin-top: 90px;
      margin-bottom: 60px; }
      .wrapper .footer-bottom p {
        color: white; }

/*# sourceMappingURL=style.css.map */
