@import "./mixin.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
img{
  display: block;
  max-width: 100%;
}
a{
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: "Nexa";
  src: url("../fonts/NexaLight.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Nexa";
  src: url("../fonts/NexaRegular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Nexa";
  src: url("../fonts/NexaBold.otf") format("opentype");
  font-weight: 700;
}
body{
  font-family: "Nexa", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
.button{
  display: inline-block;
  color:#6426dd;
  border-radius: 50px;
  background-color: white;
  padding:23px 42px ;
  font-weight: bold;
  font-size: 16.78px;
  &.header-more{
    background-color: #00dadc;
    color: #171718;
    padding: 26px 70px;
    display: inline-block;
  }
  &.about-more{
    background-color: #ffc727;
    color:#171718
  }
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  .header{
    background-image: url("../../images/img3.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 101rem;
    padding:0 12.5%;
    &-image {
      // width: 100%;
      position: absolute;
      &.top {
        left: 1%;
        top: 15%;
        width: 5%;
      }
      &.bottom {
        left: 0;
        width: 12%;
        bottom: -15%;
      }
    }
    &-top{
      display: flex;
      align-items: center;
      padding-top: 4%;
      &-menu{
        padding-left: 6%;
        display: flex;
        list-style: none;
        .header-menu{
          &-item:not(:first-child){
            margin-left: 35px;
          }
          &-link{
            color: white;
            font-size: 1.9rem;
          }
        }
      }
      &-contact{
        margin-left:auto;
      }
    }
    &-body{
      display: flex;
      align-items: center;
      &-left{
        width: 40%;
        padding-right: 5%;
        .header{
          &-heading{
            font-size: 55px;
            color: white;
            span{
              display: block;
            }
          }
          &-desc{
            width: 90%;
            color: white;
            padding-top:25px;
            padding-bottom: 50px;
            word-spacing: 7px;
            font-weight: 400;
          }
        }
      }
      &-image{
        width: 55%;
      }
    }
  }
  .about {
  display: flex;
  padding:120px 12.5%;
  align-items: center;
    &-image {
      width: 43%;
      // margin: 0 auto;
      margin-right: 11%;
    }
    &-content {
      width: 37.5%;
      margin-right:9% ;
      &-image {
        position: absolute;
        right: 0;
        width: 17%;
      }
      &-title {
        color: #6422db;
        font-size: 20px;
        margin-bottom: 40px;
      }
      &-heading {
        color: #25234d;
        font-size: 55px;
        span {
          display: block;
        }
      }
      &-desc {
        color: #25234d;
        margin: 50px 0;
        line-height: 1.5;
      }

    }
  }
  .services {
    background-image: url("../../images/img11.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 101rem;
    padding:0 12.5%;
    display: flex;
    align-items: center;
    &-image{
      position: absolute;
      bottom: -21%;
      z-index: 1;
    }
    &-left {
      width: 38%;
      margin-right: 15%;
      &-title {
        color: #6422db;
        font-size: 20px;
        margin-bottom: 40px;
      }
      &-heading {
        color: #25234d;
        font-size: 65px;
        margin-bottom: 50px;
        span {
          display: block;
        }
      }
      &-desc {
        color: #25234d;
        margin-right: 15%;
        margin-bottom: 45px;
      }

    }
    &-right {
      width: 45.5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      &-item {
      width: 45%;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 0px rgba(222, 222, 222,0.4);
      padding: 55px 30px;
      &:nth-child(-n+2){
        margin-bottom: 40px;
      }
      &:nth-child(2n) {
          // margin-bottom: 130px;
          // position: absolute;
          // position: relative;
          // bottom: 30%;
          // left: 20%;
        }
        .services-right{

          &-title {
            color: #0e2c47;
            // margin: 5% 0;
            margin:35px 0;
          }
          &-content{
            color:#25234d;
            line-height: 1.2;
          }
          &-image{
            width: 30%;
          }
        }
      }
    }
  }
  .testi{
    background-image: url("../../images/img15.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 111rem;
    padding:0 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-title{
      color: white;
      font-size: 30px;
      letter-spacing: 9px;
    }
    &-heading{
      color: white;
      font-size: 70px;
      margin-bottom: 100px;
    }
    &-content{
      width: 40%;
      background-color: white;
      text-align: center;
      padding: 80px 90px 45px;
      // padding-top:80px ;
      // padding-bottom:45px ;s
      border-radius: 20px;
      &-detail{
        margin-bottom: 50px;
      }
      &-heading{
        color: #6427de;
      }
      &-star{
        margin-top: 15px;
        margin-bottom: 40px;
        i{
          color:#ffcc00
        }
      }
      &-button{
        i{
          padding: 12px;
          border: 2px solid #6a697f;
          border-radius: 50%;
          margin: 0 10px;
          &:hover{
            color: white;
            background-color: #00dadc;
            border-color: #00dadc;
            cursor: pointer;
          }
        }
      }
    }
  }
}