@import "./mixin.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
img{
  display: block;
  max-width: 100%;
}
a{
  text-decoration: none;
}
body{
  font-family: "Nexa";
  font-size: 16px;
  line-height: 1;
}
.button{
  display: inline-block;
  color:#6426dd;
  border-radius: 50px;
  background-color: white;
  padding:23px 42px ;
  font-weight: bold;
  font-size: 16.78px;
  &.header-more{
    background-color: #00dadc;
    color:#171718
  }
  &.about-more{
    background-color: #ffc727;
    color:#171718
  }
}
  .header{
    background-image: url("../../images/img3.png");
    width: 100%;
    background-size: cover;
    height: 100vh;
    max-height: 1005px;
    max-width: 1920px;
    padding:0 12.5%;
    &-image {
      // width: 100%;
      position: absolute;
      &.top {
        left: 1%;
        top: 15%;
        width: 5%;
      }
      &.bottom {
        left: 0;
        width: 12%;
        bottom: -15%;
      }
    }
    &-top{
      display: flex;
      align-items: center;
      padding-top: 4%;
      &-menu{
        padding-left: 6%;
        display: flex;
        list-style: none;
        .header-menu{
          &-item:not(:first-child){
            margin-left: 35px;
          }
          &-link{
            color: white;
          }
        }
      }
      &-contact{
        margin-left:auto;
      }
    }
    &-body{
      display: flex;
      align-items: center;
      &-left{
        width: 40%;
        padding-right: 5%;
        .header{
          &-heading{
            font-size: 65px;
            color: white;
            span{
              display: block;
            }
          }
          &-desc{
            width: 90%;
            color: white;
            padding-top:25px;
            padding-bottom: 50px;
          }
        }
      }
      &-image{
        width: 55%;
      }
    }
  }
  .about {
  display: flex;
  padding:120px 12.5%;
  align-items: center;
    &-image {
      width: 43%;
      // margin: 0 auto;
      margin-right: 11%;
    }
    &-content {
      width: 37.5%;
      margin-right:9% ;
      &-image {
        position: absolute;
        right: 0;
        width: 17%;
      }
      &-title {
        color: #6422db;
        font-size: 20px;
        margin-bottom: 40px;
      }
      &-heading {
        color: #25234d;
        font-size: 55px;
        span {
          display: block;
        }
      }
      &-desc {
        color: #25234d;
        margin: 50px 0;
        line-height: 1.5;
      }

    }
  }
  .services {
    background-image: url("../../images/img11.png");
    width: 100%;
    background-size: cover;
    height: 100vh;
    max-height: 1005px;
    max-width: 1920px;
    padding:0 12.5%;
    display: flex;
    align-items: center;
    &-image{
      position: absolute;
      bottom: -21%;
      z-index: 1;
    }
    &-left {
      width: 38%;
      margin-right: 15%;
      &-title {
        color: #6422db;
        font-size: 20px;
        margin-bottom: 40px;
      }
      &-heading {
        color: #25234d;
        font-size: 65px;
        margin-bottom: 50px;
        span {
          display: block;
        }
      }
      &-desc {
        color: #25234d;
        margin-right: 15%;
        margin-bottom: 45px;
      }

    }
    &-right {
      width: 45.5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      &-item {
      width: 45%;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 0px rgba(222, 222, 222,0.4);
      padding: 55px 30px;
      &:nth-child(-n+2){
        margin-bottom: 40px;
      }
      &:nth-child(2n) {
          // margin-bottom: 130px;
          // position: absolute;
          // position: relative;
          // bottom: 30%;
          // left: 20%;
        }
        .services-right{

          &-title {
            color: #0e2c47;
            // margin: 5% 0;
            margin:35px 0;
          }
          &-content{
            color:#25234d;
            line-height: 1.2;
          }
          &-image{
            width: 30%;
          }
        }
      }
    }
  }