* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%; }

a {
  text-decoration: none; }

body {
  font-family: "Nexa";
  font-size: 16px;
  line-height: 1; }

.button {
  display: inline-block;
  color: #6426dd;
  border-radius: 50px;
  background-color: white;
  padding: 23px 42px;
  font-weight: bold;
  font-size: 16.78px; }
  .button.header-more {
    background-color: #00dadc;
    color: #171718; }
  .button.about-more {
    background-color: #ffc727;
    color: #171718; }

.header {
  background-image: url("../../images/img3.png");
  width: 100%;
  background-size: cover;
  height: 100vh;
  max-height: 1005px;
  max-width: 1920px;
  padding: 0 12.5%; }
  .header-image {
    position: absolute; }
    .header-image.top {
      left: 1%;
      top: 15%;
      width: 5%; }
    .header-image.bottom {
      left: 0;
      width: 12%;
      bottom: -15%; }
  .header-top {
    display: flex;
    align-items: center;
    padding-top: 4%; }
    .header-top-menu {
      padding-left: 6%;
      display: flex;
      list-style: none; }
      .header-top-menu .header-menu-item:not(:first-child) {
        margin-left: 35px; }
      .header-top-menu .header-menu-link {
        color: white; }
    .header-top-contact {
      margin-left: auto; }
  .header-body {
    display: flex;
    align-items: center; }
    .header-body-left {
      width: 40%;
      padding-right: 5%; }
      .header-body-left .header-heading {
        font-size: 65px;
        color: white; }
        .header-body-left .header-heading span {
          display: block; }
      .header-body-left .header-desc {
        width: 90%;
        color: white;
        padding-top: 25px;
        padding-bottom: 50px; }
    .header-body-image {
      width: 55%; }

.about {
  display: flex;
  padding: 120px 12.5%;
  align-items: center; }
  .about-image {
    width: 43%;
    margin-right: 11%; }
  .about-content {
    width: 37.5%;
    margin-right: 9%; }
    .about-content-image {
      position: absolute;
      right: 0;
      width: 17%; }
    .about-content-title {
      color: #6422db;
      font-size: 20px;
      margin-bottom: 40px; }
    .about-content-heading {
      color: #25234d;
      font-size: 55px; }
      .about-content-heading span {
        display: block; }
    .about-content-desc {
      color: #25234d;
      margin: 50px 0;
      line-height: 1.5; }

.services {
  background-image: url("../../images/img11.png");
  width: 100%;
  background-size: cover;
  height: 100vh;
  max-height: 1005px;
  max-width: 1920px;
  padding: 0 12.5%;
  display: flex;
  align-items: center; }
  .services-image {
    position: absolute;
    bottom: -21%;
    z-index: 1; }
  .services-left {
    width: 38%;
    margin-right: 15%; }
    .services-left-title {
      color: #6422db;
      font-size: 20px;
      margin-bottom: 40px; }
    .services-left-heading {
      color: #25234d;
      font-size: 65px;
      margin-bottom: 50px; }
      .services-left-heading span {
        display: block; }
    .services-left-desc {
      color: #25234d;
      margin-right: 15%;
      margin-bottom: 45px; }
  .services-right {
    width: 45.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .services-right-item {
      width: 45%;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 0px rgba(222, 222, 222, 0.4);
      padding: 55px 30px; }
      .services-right-item:nth-child(-n+2) {
        margin-bottom: 40px; }
      .services-right-item .services-right-title {
        color: #0e2c47;
        margin: 35px 0; }
      .services-right-item .services-right-content {
        color: #25234d;
        line-height: 1.2; }
      .services-right-item .services-right-image {
        width: 30%; }

.testi {
  background-image: url("../../images/img15.png");
  width: 100%;
  background-size: cover;
  height: 100vh;
  max-height: 1005px;
  max-width: 1920px;
  padding: 0 12.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*# sourceMappingURL=style.css.map */
